.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
    align-self: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttonStyle {
    padding: 10px 15px;
}

.link {
    display: grid;
    place-items: center;
    background-color: #393E46;
    height: 43.2px;
    width: 43.2px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.active {
    background-color: #000;
    pointer-events: none;
}

.arrow {
    padding: 10px 30px;
}

.prev {
    clip-path: polygon(8% 0%, 100% 0%, 94% 50%, 100% 100%, 8% 100%, 0% 50%);
    shape-outside: polygon(8% 0%, 100% 0%, 94% 50%, 100% 100%, 8% 100%, 0% 50%);
}

.next {
    clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 6% 50%);
    shape-outside: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%, 6% 50%);
}

@media (max-width: 576px) {
    .buttons {
        justify-content: center;
        order: 1;
    }

    .buttonStyle {
        font-size: 14px;
        white-space: nowrap;
        padding: 10px 5px;
    }

    .wrapper {
        flex-wrap: wrap;
        width: min-content;
    }

    .subgrButt {
        width: 100%;
        padding: 8px 0;
    }

    .arrow {
        padding-inline: 20px;
    }

    .link {
        width: 36.8px;
        height: 36.8px;
    }
}

@media (min-width: 577px) {
    .link:hover {
        background-color: #303030;
        box-shadow: 0 0 5px #303030;
    }
}