.form {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
    border: 1px solid #000;
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-family: inherit;
    padding: 2px;
    font-size: 1rem;
}

.files {
    width: 100%;
}

.boldAndBig {
    font-weight: bold;
    font-size: 20px;
}

.filesList {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    max-width: 100%;
}

.fileItem {
    display: flex;
    gap: 30px;
    border-radius: 3px;
    padding: 3px;
}

.download {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.download:hover {
    color: #551A8B;
}

.toDelete {
    background-color: #fe8e8e;
}

.button {
    padding: 5px 40px;
}