.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 30px;
    width: 400px;
    min-height: 310px;
    background-color: #fff;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 431px) {
    .popup-content {
        max-width: 90vw;
    }
}