.day {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #393E46;
    color: #fff;
    box-shadow: 5px 5px 10px gray;
    padding: 1rem;
    height: 100%;
}

.first {
    border-radius: 30px 0 30px 0;
}

.second {
    border-radius: 0 30px 0 30px;
}

.text {
    padding: 3px 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}

.text:hover {
    background-color: #303030;
    box-shadow: 0 0 5px #303030, 0 0 5px #303030;
    border-radius: 5px;
    cursor: pointer;
}

.wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.addNoteBtn {
    position: fixed;
    transform: translate(-100%, -100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    font-size: 36px;
    box-shadow: 5px 5px 7px gray;
    background-color: #393E46;
    color: #00ADB5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.addNoteBtn:hover {
    background-color: #303030;
}

.addNoteBtn:focus {
    outline: 2px solid black;
}

.input {
    border-radius: 5px;
    min-height: 250px;
    max-height: 500px;
    max-width: 100%;
    min-width: 100%;
    font-family: inherit;
    padding: 2px;
    font-size: 1rem;
}

.error {
    color: red;
}

.rubbishBin {
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
}

.backArrow {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .day {
        padding-inline: 0.5rem;
    }

    .text {
        font-size: 1.2rem;
    }

    .first {
        border-radius: 20px 0 20px 0;
    }

    .second {
        border-radius: 0 20px 0 20px;
    }
}